- stylesheet "people", "approvals", "services"
- javascript "nested_attributes", "ui/approvals"
- title "Approvals for #{@person}"
  
= render "/people/client_menu" 

= render '/approvals/list', :approvals => @approvals, :person => @person, :search => @search_params, :service => nil