<div id="chart"></div>

<%= Seer::visualize(
    @services_by_year, 
    :as => :column_chart,
    :in_element =>'chart', 
    :series => {:series_label => :year, :data_method => :count},
    :chart_options => {
      :height => 600,
      :width => 200 * @services_by_year.size,
      :is_3_d => true,
      :legend => 'none',
      :colors => "[{color:'#990000', darker:'#660000'}]",
      :title => "Services with People who were Reported to the CTSA by Year",
      :title_x => 'Reporting Year',
      :title_y => 'Services'
    }
  )
-%>