- javascript "nested_attributes", "ui/services"
- stylesheet "services", "people"
- title "Edit Service"

= render "service_header"

.page_section

  %ul
    %li
      = link_to "Edit Profile for #{@service.person}", edit_person_path(@service.person), :class => "edit_link icon_link"
    %li
      Manage Activities


:javascript
  $(function () {
    servicesUI = new Clearcats.UI.Services({ maxDate: "+1095" });
  });