- user = get_current_user
- sysadmin = user.respond_to?(:sysadmin?) && user.sysadmin?
- current_year = current_ctsa_reporting_year

- if @service
  - pub_association = { :service_id => @service.id }
- else 
  - pub_association = { :person_id => @person.id }

= render 'row', :pub => @publication, :sysadmin => sysadmin, :current_year => current_year, :pub_association => pub_association