- javascript "highcharts", "highcharts-exporting"
- title "Publications Search"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.page_section 
  = render 'search_form'

.page_section
  = render '/reports/publications_graph', :width => '100%', :height => '200px'

.page_section
  = render 'search_results'