/* Layout */

#menu {
  padding: 0.5em 0 0.25em 0;
  border-bottom: 1px solid #ccc;
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      display: inline;
      padding: 0.5em 2em 0.5em 0.5em;
      border-right: 1px solid #ccc;
    }
    li:hover {
      background: gainsboro;
    }
  }
}

#banner {
  border-bottom: 1px solid #1c1079;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 29px;
  vertical-align: bottom;
  text-align: center;
  font-size: 1.25em;
  display: block; 
  a {
    span {
      visibility: hidden; 
    }
  }
  img {
    float: left; 
  }
  #menu2 {
    float: right;
    z-index: 4;
    margin-top: -21px;
    color: #aaaaaa;
    padding-right: 15px; 
  }
  #logout_link {
    a {
      color: #fff;
      text-decoration: none;
      padding-right: 0.5em;
    }
    a:hover {
      color: orange;
    }
  }
  .banner_right {
    width: 100%;
    height: 29px;
    z-index: 1; 
  }
  #fl {
    float: left;
    z-index: 2;
    margin-top: -29px; 
  }
}


#header {
  clear: both; 
}

#home {
  margin: 0 !important;
  padding: 5px 20px 0px 20px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  background-color: white;
  a {
    font-size: 2.5em;
    line-height: 100%;
    color: #222266;
    text-decoration: none;
  }
  a:hover {
    color: darkorange; 
  }
}

#menu {
  padding: 0px;
}

#title {
  margin: 0px;
  padding: 5px 20px 0 10px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 1.75em;
  color: #222266;
  line-height: 180%;
  background-color: white; 
}

#niceline {
  padding-left: 5px;
  height: 8px;
  margin: 0px;
  color: white;
  font-size: 13px;
  background-color: #a3a3a3; 
}

#main {
  min-height: 45em;
  margin: 0;
  padding: 0 0.5em;
}

#footer {
  border-top: 2px solid #a3a3a3;
  text-align: right;
  font-size: 0.8em; 
  img {
    float: left; 
    .banner {
      width: 100%; 
    }
  }
  .version {
    border-top: 2px solid #a3a3a3;
    float: left;
    clear: both;
    width: 100%; 
  }
}

.branding {
  width: 1100px; 
  margin: 0 auto;
  #northwestern img {
    margin: 1em 5em; 
  }
  #nmh img {
    margin: 3.5em 2em; 
  }
  #feinberg img {
    margin: 1em 2em; 
  }
  #nucats img {
    margin: 3em 2em; 
  }
}