
.search_form_show_toggle,
.search_form_hide_toggle {
  float: right;
  padding-right: 1em;
  margin-top: -1em;
}

#search_by,
#search_results {
  color: black;
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.25em;
}

#investigator_upload {
  padding: 1em;
  border: 1px solid #ccc;
  #search {
    float: right;
  }
}

#upload_error_log {
  text-align: right;
  a {
    color: maroon;
  }
  a:hover {
    color: pink !important;
  }
}

#people_search_form {
  padding: 0.5em;
}

form.faculty_search {
  margin: 1.5em 0;
}

.era_commons_username_search_form {
  margin: 1.5em 0;  
}

.span-5 select,
.span-6 select,
.span-7 select,
.span-8 select {
  width: 310px;
}

select#search_service_rendered,
select#search_disadvantaged_background {
  width: 5em;
}

.alt {
  font-size: 0.8em;
}

#specialty_autocomplete {
  width: 20em;
}

.tooltip .instructions p {
  margin-bottom: 1em;
}

.ui-autocomplete {
  background-color: white;
  border: 2px solid darkblue;
}

#trainee_header {
  margin: 0.5em 0;
  color: crimson;
  font-weight: bold;
  font-size: 1.25em;
}

.trainee_toggler a {
  font-size: 1.25em;
  text-decoration: none;
}

.trainee_fields {
  display: none;
  a.icon_link {
    font-size: 1em !important;
  }
  a {
    font-size: 1.25em;
    text-decoration: none;
  }
}

.trainee_section {
  margin-top: 1em;
  border-top: 1px solid #ddd;
  h4 {
    margin: 0.5em 0;
  }
}

h4.section_header {
  margin: 0.5em 0;
}

.organizational_units {
  padding: 0.5em 0 0.75em 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  font-size: 1.125em
}

#search_awards_activity_code_id_equals {
  width: 17em;
}

hr {
  margin-bottom: 0.25em;
}

.status_bar {
  margin-top: 10px;
  border: 3px solid gray;
}

.client_menu {
  padding-left: 1em;
  .span-24 {
    margin-bottom: 0.5em;
  }
  .index {
    display: inline-block;
    width: 1.25em;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    margin-top: -15px;
    background-color: lightblue;
    border: 1px solid gray;
    @include rounded-corners(2em);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: orange;
  }
  a.index:hover {
    background-color: darkslateblue;
  }
  .active {
    background-color: darkblue;
  }
  .task {
    display: inline-block;
  }
  div {
    text-align: center;
  }
}

.client_task {
  font-size: 1.125em;
  color: darkblue;
  div {
    border-bottom: 1px solid white;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}

