.ctsa_report_form {
  .container {
    padding: 1em 0;
  }
  input[type="checkbox"] {
    top: 0;
  }
  input[type="text"] {
    width: 4em;
  }
  tfoot tr td {
    padding-top: 0.5em;
  }
} 

.summary {
  border-bottom: 1px solid #ececec;
  margin: 1em 0;
  padding-bottom: 1em;
}
