- title "Service Request"

%p
  Thank you for your request for service. Someone from NUCATS will be in touch with you shortly.

.page_section

  %p
    %b
      Organizational unit:
    =h @service_request.organizational_unit

  %p
    %b
      Service line:
    =h @service_request.service_line


  %p
    %b
      First name:
    =h @service_request.first_name


  %p
    %b
      Last name:
    =h @service_request.last_name


  %p
    %b
      Email:
    =h @service_request.email


  %p
    %b
      Project:
    =h @service_request.project


  %p
    %b
      Abstract:
    =h @service_request.abstract