
#awards {
  margin: 1em 0;
}

#awards h3 {
  padding: 0.5em 0;
}

.notice {
  color: maroon;
  font-size: 1.125em;
  margin: 0.5em 0;
}

.instructions {
  margin: 1em 0;
}

.award_form {
  height: 80em;
  padding-bottom: 1em;
}

#award_details {
  margin-top: 2em;
}

#award_details table {
  margin-top: 1em;
}

#award_phs_organization_id,
#award_activity_code_id,
#award_non_phs_organization_id {
  width: 25em;
}

.award_record {
  border: 1px solid #ccc;
  padding: 5px;
  height: 25em;
  margin-bottom: 5px;
  background-color: white;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.organization,
.ctsa_reportable,
.sponsor_info,
.project_info {
  width: 49%;
  float:left;
  min-height: 8.5em;
}

.sponsor_info,
.project_info {
  border-top: 1px dashed #dcdcdc;
  padding-top: 5px;
}