
table.notes tr td {
  vertical-align: top;
}

table.notes td.label {
  width: 12em;
}

table.notes tr td textarea,
table.key_metrics tr td textarea {
  height: 2em !important;
  width: 90%;
}

#modal_window {
  display: none;
  font-size: 1.125em;
}