
.notice {
  color: maroon;
  font-size: 1.125em;
  margin: 0.5em 0;
}

.publication_form .page_section {
  margin: 0.5em 0.5em 0 0;
}

.publication_form .page_section #modal_edit_form {
  margin-top: 0;
}

.publication_record {
  width: 1110px;
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.ctsa_reportable,
.identification {
  width: 49%;
  float: left;
  min-height: 10em;
  padding-bottom: 5px
}

.publication {
  width: 1100px;
  float: left;
  border-top: 1px dashed #dcdcdc;
  padding: 5px;
}