
.sub_row_even_record td {
  border-top: 1px solid whitesmoke;
}

.sub_row_odd_record td {
  border-top: 1px solid white;
}

.sub_row_odd_record li,
.sub_row_even_record li {
  list-style: none;
}

/* copied from application.css to ensure that the above colors are correct */
table.records tr.even_record {
  background-color: whitesmoke;
}

table.records tr.odd_record {
  background-color: white;
}

.activity_types {
  margin-top: 0.5em;
}

.activity_types ul {
  list-style-type: none;
}

.activity_types ul li {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: gainsboro;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.integer_input {
  width: 3em;
}