- user = get_current_user
- sysadmin = user.respond_to?(:sysadmin?) && user.sysadmin?
- current_year = current_ctsa_reporting_year

- if @service
  - award_association = { :service_id => @service.id }
- else 
  - award_association = { :person_id => @person.id }

= form_tag(update_ctsa_reporting_year_awards_path) do
  = hidden_field_tag "person_id", @person.id
  .records
    - @awards.each do |award|
      = render '/awards/row', :award => award, :sysadmin => sysadmin, :award_association => award_association, :current_year => current_year
  - unless @service
    .buttons
      - lbl = faculty_member? ? "Save and Continue" : "Save"
      = submit_tag lbl