- user = get_current_user
- sysadmin = user.respond_to?(:sysadmin?) && user.sysadmin?
- current_year = current_ctsa_reporting_year

- if @service
  - award_association = { :service_id => @service.id }
- else 
  - award_association = { :person_id => @person.id }
  
= render 'row', :award => @award, :sysadmin => sysadmin, :award_association => award_association, :current_year => current_year