- javascript "highcharts"
- stylesheet "awards", "people"
- title "Awards Search"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.page_section 
  = render 'search_form'
  
  
.page_section
  = render '/reports/awards_graph', :width => '100%', :height => '200px'


.page_section
  = render 'search_results'