- stylesheet "awards", "people"
- title "Awards Search"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.page_section 
  = render 'search_form'

.page_section
  = render 'search_results'