- stylesheet "projects"
- javascript "projects_ui", "modal_form"
- title "Edit Project"

= render 'form'

:javascript
  $(function () {
    projectsUI = new Clearcats.ProjectsUI({});
  });

#modal_window