- stylesheet "projects"
- javascript "ui/projects", "modal_form"
- title "Create Project"

= render 'form'

:javascript
  $(function () {
    projectsUI = new Clearcats.UI.Projects({});
  });

#modal_window