- title_text = @person.nil? ? "My Activities" : "Activities for #{@person}"
- title title_text 

.page_section
  - if @activities.blank?
    .no_records No activities were found.
  - else
    = render 'list', :activities => @activities

.links
  = link_to 'New Activity', new_activity_path, :class => "add_link icon_link"