- height ||= "400px"
- width  ||= "100%"
%div{ :id => "chart-container", :style => "width: #{width}; height: #{height}" }

:javascript
  var seriesData = '#{@series_data}';
  var servicesChart;
  $(document).ready(function() {
    servicesChart = new Highcharts.Chart({
      chart: {
        renderTo: 'chart-container',
        defaultSeriesType: 'bar'
      },
      title: {
        text: 'Publications by Year'
      },
      xAxis: {
        categories: [' ']
      },
      yAxis: {
        title: {
          text: 'Number of Publications'
        }
      },
      tooltip: {
        formatter: function() {
          return '' + this.series.name + ': ' + this.y + ' Publications';
        }
      },
      plotOptions: {
        series: {
          cursor: 'pointer',
          point: {
            events: {
              click: function() {
                location.href = this.series.options.url;
              }
            }
          }
        }
      },
      exporting: {
        enabled:  true,
        filename: "publications",
        type:     "image/png",
        url:      "/exporting-server/index.php",
        width:    800
      },
      series: eval(seriesData)
    });
  });