- javascript "highcharts", "graphs/services"


%div{ :id => "container", :style => "width: 100%; height: 400px" }

:javascript
  var seriesData = '#{@series_data}';
  var servicesChart;
  $(document).ready(function() {
    servicesChart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Services Share by Organizational Unit'
      },
      tooltip: {
        formatter: function() {
          return '' + this.point.name + ': ' + this.y + ' %';
        }
      },
      plotOptions: {
        pie: {
          allowPointerSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            formatter: function() {
              return '' + this.point.name + ': ' + this.y + ' %';
            }
          },
          point: {
            events: {
              click: function() {
                location.href = this.url;
              }
            }
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Service Percentage',
        data: eval(seriesData)
      }]
    });
  });